@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/inconsolata/v32/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp4U8WR32lw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.Queue_Button {
  background-color: rgb(255, 255, 255);
  color: #FF9E2D;
  height: 120px;
  width: 600px;
  display: flex;
  justify-content: center; /* Align horizontal */
  align-items: center;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Inconsolata';
  font-size: 48px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Header {
  background-color: rgb(255, 255, 255);
  color: #FF9E2D;
  height: 72px;
  width: 100vw;
  display: flex;
  position: absolute;
  top: 0%;
  align-items: center;
}

.header-logo {
  margin-left: 3vw;
  width: 80px;
}

.logo-style {
  width: 100%;
}

.Footer {
  background-color: rgb(255, 255, 255);
  color: #FF9E2D;
  height: 72px;
  width: 100vw;
  display: flex;
  position: absolute;
  bottom: 0%;
}

body {
  background: #F8F8FD;
}

.fullscreen {
  height: 100vh;
  width: 100vw;
}

.login {
  width: 100%;
}

.login-logo {
  position: absolute;
  right: 4vw;
  width: 24px;
}

.darktoggle {
  width: 100%;
}

.darktoggle-logo {
  position: absolute;
  right: 8vw;
  width: 38px;
}

.in_queue {
  background-color: rgb(255, 255, 255);
  color: #FF9E2D;
  height: 240px;
  width: 600px;
  display: flex;
  justify-content: center; /* Align horizontal */
  align-items: center;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Inconsolata';
  font-size: 48px;
}